{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

        <div class="text-center">
            <h1 class="main-title divider"  style="font-size:4em" >{% trans %}Erreur <span class="text-primary">404</span>{% endtrans %}</h1>
        </div>

<div class="text-center" style="font-size:2.4em"> Aucune page trouvé</div>

</div>

{% endblock %}